In [1]:
import yfinance as yf
import datetime

In [2]:
def get_option_data(stock_symbol, expiration_date, option_type, strike):
    stock = yf.Ticker(stock_symbol)
    option_chain = stock.option_chain(expiration_date)
    options = getattr(option_chain, "calls" if option_type.startswith("call") else "puts")
    option_data = options[options["strike"] == strike]
    return option_data


def get_option_history_data(contract_symbol, days_before_expiration=30):
    option = yf.Ticker(contract_symbol)
    option_info = option.info
    option_expiration_date = datetime.datetime.fromtimestamp(option_info["expireDate"])

    start_date = option_expiration_date - datetime.timedelta(days=days_before_expiration)
    option_history = option.history(start=start_date)
    return option_history

In [4]:
od = get_option_data('SPY', '2024-05-10', 'put', 518)

In [8]:
od

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
72,SPY240510P00518000,2024-05-08 20:14:57+00:00,518.0,2.01,0.0,0.0,0.0,0.0,12193.0,0,0.00001,True,REGULAR,USD

In [9]:
get_option_history_data(od.iloc[0].contractSymbol, 30)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-04-09 00:00:00-04:00,5.940000,9.080000,5.940000,6.010000,953,0.0,0.0
2024-04-10 00:00:00-04:00,9.180000,10.060000,8.130000,8.490000,329,0.0,0.0
2024-04-11 00:00:00-04:00,8.350000,10.210000,6.260000,6.610000,788,0.0,0.0
2024-04-12 00:00:00-04:00,9.050000,12.420000,8.460000,11.930000,242,0.0,0.0
2024-04-15 00:00:00-04:00,8.290000,15.400000,8.250000,15.400000,268,0.0,0.0
2024-04-16 00:00:00-04:00,14.880000,16.260000,13.570000,13.570000,41,0.0,0.0
2024-04-17 00:00:00-04:00,15.210000,18.530001,15.210000,17.790001,0,0.0,0.0
2024-04-18 00:00:00-04:00,17.700001,17.700001,17.700001,17.700001,64,0.0,0.0
2024-04-19 00:00:00-04:00,20.760000,23.250000,20.760000,23.250000,11,0.0,0.0
2024-04-22 00:00:00-04:00,20.209999,22.190001,17.840000,18.150000,63,0.0,0.0
2024-04-24 00:00:00-04:00,13.930000,14.120000,13.930000,14.120000,0,0.0,0.0
2024-04-25 00:00:00-04:00,15.060000,15.060000,11.420000,11.420000,2,0.0,0.0
2024-04-26 00:00:00-04:00,11.180000,11.180000,11.180000,11.180000,56,0.0,0.0
2024-04-29 00:00:00-04:00,9.110000,9.890000,8.740000,9.890000,37,0.0,0.0
2024-04-30 00:00:00-04:00,10.150000,13.640000,10.000000,13.640000,35,0.0,0.0
2024-05-01 00:00:00-04:00,17.129999,17.500000,15.110000,15.110000,30,0.0,0.0
2024-05-02 00:00:00-04:00,13.190000,13.190000,13.190000,13.190000,1,0.0,0.0
2024-05-03 00:00:00-04:00,7.730000,9.630000,6.650000,6.650000,184,0.0,0.0
2024-05-06 00:00:00-04:00,4.780000,4.810000,2.960000,3.090000,534,0.0,0.0
2024-05-07 00:00:00-04:00,2.330000,2.800000,1.790000,2.100000,26448,0.0,0.0
2024-05-08 00:00:00-04:00,3.430000,3.500000,1.630000,2.010000,12193,0.0,0.0